@{
    Layout = "/Views/Shared/_LayoutBuss.cshtml";
}

<div class="row" style="margin-left:5%;" >
    <div class="col-lg-12">
        @RenderBody()
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}