<!-- Banner Section -->
<div id="home-banner" class="container-fluid no-padding banner-section home-banner">
    <!-- Container -->
    <div class="container">
        <div id="main-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="col-md-6 col-sm-6 no-padding">
                        <div class="banner-left">
                            <span>The Best Hospitality WP Theme Forever!</span>
                            <h3>we care for your health</h3>
                            <p>Qualified Staff With Expertise in Services We Offer for more Resonable cost with love, Just explore about More!</p>
                            <a href="#">View Our Services<i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 no-padding">
                        <div class="banner-right">
                            <img src="~/styles/images/banner-main.png" alt="banner-main" />
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-6 col-sm-6 no-padding">
                        <div class="banner-left">
                            <span>The Best Hospitality WP Theme Forever!</span>
                            <h3>we care for your health</h3>
                            <p>Qualified Staff With Expertise in Services We Offer for more Resonable cost with love, Just explore about More!</p>
                            <a href="#">View Our Services<i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 no-padding">
                        <div class="banner-right">
                            <img src="~/styles/images/banner-main.png" alt="banner-main" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Container /- -->
    <!-- Shape -->
    <div class="banner-shape container-fluid no-padding">
        <div class="col-md-6 col-sm-6 col-xs-6 shape-left no-padding">
            <div class="left-shape-blue">
                <svg width="100%" height="100%">
                    <clipPath id="clipPolygon2" clipPathUnits="objectBoundingBox">
                        <polygon points="0 0, 0 100, 120 100, 0 0"></polygon>
                    </clipPath>
                </svg>
            </div>
            <div class="left-shape">
                <svg width="100%" height="100%">
                    <clipPath id="clipPolygon1" clipPathUnits="objectBoundingBox">
                        <polygon points="0 0, 0 100, 100 100, 0 0"></polygon>
                    </clipPath>
                </svg>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 shape-right no-padding">
            <div class="right-shape-blue">
                <svg width="100%" height="100%">
                    <clipPath id="clipPolygon3" clipPathUnits="objectBoundingBox">
                        <polygon points="1 0.2, 0 1, 0 0.835, 1 0"></polygon>
                    </clipPath>
                </svg>
            </div>
            <div class="right-shape">
                <svg width="100%" height="100%">
                    <clipPath id="clipPolygon4" clipPathUnits="objectBoundingBox">
                        <polygon points="1 0, 0 1, 100 100, 100 0"></polygon>
                    </clipPath>
                </svg>
            </div>
        </div>
    </div><!-- Shape /- -->
</div><!-- Banner Section /- -->
<!-- Message Borad -->
<div id="message-borad" class="container-fluid no-padding message-borad">
    <!-- Container -->
    <div class="container">
        <div class="row">
            <!-- Emargency Case -->
            <div class="col-md-6 col-sm-6 emargency-case">
                <div class="col-md-6 message-block no-left-padding">
                    <h3>Emergency case</h3>
                    <p>Dignissimos ducimus qui blanditii sentium volta tum deleniti atque cori as quos dolores et quas mole.</p>
                    <a href="#">More Details<i class="fa fa-caret-right"></i></a>
                </div>
                <div class="col-md-6 message-block no-right-padding">
                    <h3>New Registration</h3>
                    <p>Dignissimos ducimus qui blanditii sentium volta tum deleniti atque cori as quos dolores et quas mole.</p>
                    <a href="#">More Details<i class="fa fa-caret-right"></i></a>
                </div>
            </div><!-- Emargency Case /- -->
            <!-- Opening Hours -->
            <div class="col-md-6 col-sm-6 opening-hours">
                <div class="col-md-6 message-block no-padding">
                    <h3>opening hours</h3>
                    <ul>
                        <li>Monday - Friday<span class="pull-right">8.00 – 18.00</span></li>
                        <li>Saturday<span class="pull-right">8.00 – 16.00</span></li>
                        <li>Sunday<span class="pull-right">8.00 – 13.00</span></li>
                    </ul>
                </div>
                <div class="col-md-6 message-block">
                    <h3>doctors Timetable</h3>
                    <p>Dignissimos ducimus qui blanditii sentium volta tum deleniti atque cori las quos dolores et quas mole.</p>
                    <a href="#">More Details<i class="fa fa-caret-right"></i></a>
                </div>
            </div><!-- Opening Hours /- -->
        </div>
    </div><!-- Container /- -->
</div><!-- Message Borad /- -->
<!-- Service Section -->
<div id="service-section" class="container-fluid no-padding service-section">
    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">
            <!-- Service -->
            <div class="col-md-8 col-sm-12 col-xs-12 service">
                <div class="section-header">
                    <h3>Bienvenidos</h3>
                    <p>Los servicios son:</p>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-block">
                            <div class="service-block-icon">
                                <i><img src="~/styles/images/ambulance.png" alt="ambulance" /></i>
                                <i><img src="~/styles/images/ambulance-white.png" alt="ambulance-white" /></i>
                            </div>
                            <div class="service-block-content">
                                <h3>Consultas de emergencia</h3>
                                <p>Consultas a domicilio de emergencia con los médicos de la red.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-block">
                            <div class="service-block-icon">
                                <i><img src="~/styles/images/heart-ic.png" alt="heart-ic" /></i>
                                <i><img src="~/styles/images/heart-ic-white.png" alt="heart-ic-white" /></i>
                            </div>
                            <div class="service-block-content">
                                <h3>Organización y control</h3>
                                <p>Organización y control de tu consulta en un sólo lugar.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-block">
                            <div class="service-block-icon">
                                <i><img src="~/styles/images/phone.png" alt="phone" /></i>
                                <i><img src="~/styles/images/phone-white.png" alt="phone-white" /></i>
                            </div>
                            <div class="service-block-content">
                                <h3>Soporte 24/7</h3>
                                <p>Personal apoyandote y una plataforma de ayuda 24/7.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-block">
                            <div class="service-block-icon">
                                <i><img src="~/styles/images/appoinment-latter.png" alt="appoinment-latter" /></i>
                                <i><img src="~/styles/images/appoinment-latter-white.png" alt="appoinment-latter-white" /></i>
                            </div>
                            <div class="service-block-content">
                                <h3>Servicios en línea</h3>
                                <p>Finanzas, citas, pagos, ayuda y seguimiento en línea.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Service /- -->
            <div class="col-md-4 col-sm-12 col-xs-12">
                <!-- Appointment Form -->
                <form class="appoinment-form">
                    <h3><img src="~/styles/images/appoinment.png" alt="appoinment" />Solicitar más información</h3>
                    <div class="form-group col-md-12 no-padding">
                        <input type="text" id="your-name" class="form-control" placeholder="Nombre">
                    </div>
                    <div class="form-group col-md-12 no-padding">
                        <input type="email" id="email" class="form-control" placeholder="Email ">
                    </div>
                    
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 no-padding">
                        <textarea rows="4" id="textarea_message" class="form-control" placeholder="Duda"></textarea>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 no-padding">
                        <button type="submit" id="btn_submit" class="btn-submit pull-right">
                            <img src="~/styles/images/heart-sm.png" alt="heart-sm">Enviar
                        </button>
                    </div>
                </form><!-- Appointment Form /- -->
            </div>
        </div>
    </div><!-- Container /- -->
</div><!-- Service Section /- -->
<!-- Call Out -->
<div id="call-out" class="container-fluid no-padding call-out">
    <!-- Container -->
    <div class="container">
        <div class="call-out-content row">
            <div class="col-md-10 col-sm-9 col-xs-12">
                <h3>Estás listo para  <span>Doctor Hub&trade;</span></h3>
                <p>Regístrate y comienza a utilizar tu asistente personal digital.</p>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-12">
                <a asp-controller="Account" asp-action="Register" title="Purchase Now">Comenzar</a>
            </div>
        </div>
    </div><!-- Container /- -->
</div><!-- Call Out /- -->
<!-- What We Do Best -->
<div id="what-we-do-best" class="container-fluid no-padding what-we-do-best">
    <!-- What We Do Best Left -->
    <div class="what-we-do-left col-md-4 no-padding">
        <img src="~/styles/images/what-we-do-best.jpg" alt="what-we-do-best">
    </div><!-- What We Do Best Left /- -->
    <!-- What We Do Best Right -->
    <div class="col-md-8 what-we-do-right no-padding">
        <div class="col-md-4 col-sm-4 col-xs-6 no-padding">
            <div class="what-we-do-block">
                <img src="~/styles/images/what-we-do-best-block-bg.jpg" alt="what-we-do-best" />
                <div class="what-we-do-block-content">
                    <i><img src="~/styles/images/pulmonary.png" alt="pulmonary" /></i>
                    <h5>Otorrinolaringología</h5>
                    <p>Nam libero tempore cumas soluta eligendi </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 no-padding">
            <div class="what-we-do-block">
                <img src="~/styles/images/what-we-do-best-block-bg.jpg" alt="what-we-do-best" />
                <div class="what-we-do-block-content">
                    <i><img src="~/styles/images/cardiology.png" alt="Cardiology" /></i>
                    <h5>Cardiología</h5>
                    <p>Nam libero tempore cumas soluta eligendi </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 no-padding">
            <div class="what-we-do-block">
                <img src="~/styles/images/what-we-do-best-block-bg.jpg" alt="what-we-do-best" />
                <div class="what-we-do-block-content">
                    <i><img src="~/styles/images/traumatology.png" alt="Traumatology" /></i>
                    <h5>Endocrinología</h5>
                    <p>Nam libero tempore cumas soluta eligendi </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 no-padding">
            <div class="what-we-do-block">
                <img src="~/styles/images/what-we-do-best-block-bg.jpg" alt="what-we-do-best" />
                <div class="what-we-do-block-content">
                    <i><img src="~/styles/images/neurology.png" alt="Neurology" /></i>
                    <h5>Neurología</h5>
                    <p>Nam libero tempore cumas soluta eligendi </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 no-padding what-we-do-title">
            <div class="what-we-do-block">
                <img src="~/styles/images/what-we-do-best-block-title-bg.jpg" alt="what-we-do-best-title" />
                <div class="what-we-do-block-content">
                    <h3>¿Que configuraciones tenemos?</h3>
                    <p>Dolor sit amet consecdi pisicing eliam sedo</p>
                    <span><img src="~/styles/images/section-seprator.png" alt="section-seprator" /></span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 no-padding">
            <div class="what-we-do-block">
                <img src="~/styles/images/what-we-do-best-block-bg.jpg" alt="what-we-do-best" />
                <div class="what-we-do-block-content">
                    <i><img src="~/styles/images/x-ray.png" alt="X-ray" /></i>
                    <h5>Ortopedia</h5>
                    <p>Nam libero tempore cumas soluta eligendi </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 no-padding">
            <div class="what-we-do-block">
                <img src="~/styles/images/what-we-do-best-block-bg.jpg" alt="what-we-do-best" />
                <div class="what-we-do-block-content">
                    <i><img src="~/styles/images/nuclear-magnetic.png" alt="Nuclear magnetic" /></i>
                    <h5>Oncología</h5>
                    <p>Nam libero tempore cumas soluta eligendi </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 no-padding">
            <div class="what-we-do-block">
                <img src="~/styles/images/what-we-do-best-block-bg.jpg" alt="what-we-do-best" />
                <div class="what-we-do-block-content">
                    <i><img src="~/styles/images/diagnostic.png" alt="Diagnostic" /></i>
                    <h5>General</h5>
                    <p>Nam libero tempore cumas soluta eligendi </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 no-padding">
            <div class="what-we-do-block">
                <img src="~/styles/images/what-we-do-best-block-bg.jpg" alt="what-we-do-best" />
                <div class="what-we-do-block-content">
                    <i><img src="~/styles/images/blood-test.png" alt="Blood test" /></i>
                    <h5>y muchas más</h5>
                    <p>Nam libero tempore cumas soluta eligendi </p>
                </div>
            </div>
        </div>
    </div><!-- What We Do Best Right /- -->
</div><!-- What We Do Best /- -->
<!-- Departments Section -->
<div class="container-fluid no-padding department-section">
    <div class="we-are-best col-md-6 col-sm-12 no-padding">
        <div class="section-header">
            <h3>¿Porqué Doctor Hub&trade;?</h3>
            <p>Somos una plataforma diseñada por médicos para médicos.</p>
        </div>
        <div class="we-are-best-block">
            <div class="we-are-best-icon">
                <img src="~/styles/images/dp-icon-1.png" alt="dp-icon-1" />
            </div>
            <div class="we-are-best-content">
                <h3>Organización en línea</h3>
                <p>Desde la cita, historia clínica, receta, inter consultas. Todo desde Doctor Hub&trade;.</p>
            </div>
        </div>
        <div class="we-are-best-block">
            <div class="we-are-best-icon">
                <img src="~/styles/images/dp-icon-2.png" alt="dp-icon-2" />
            </div>
            <div class="we-are-best-content">
                <h3>Mejora la experiencia</h3>
                <p>Seguimiento a tus pacientes en línea, asistente personal del médico.</p>
            </div>
        </div>
        <div class="we-are-best-block">
            <div class="we-are-best-icon">
                <img src="~/styles/images/dp-icon-3.png" alt="dp-icon-3" />
            </div>
            <div class="we-are-best-content">
                <h3>Pagos en línea</h3>
                <p>Genera cargos en electrónico y lleva tus finanzas en orden.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 departments no-padding">
        <div class="departments-bg">
            <img src="~/styles/images/departments-bg.jpg" alt="departments-bg" />
        </div>
        <div class="section-header">
            <h3>App generada por especialidades</h3>
        </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="dept-heading1">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#dept-type-1" aria-expanded="true">
                            Pediatría<i class="fa fa-plus pull-right"></i>
                        </a>
                    </h4>
                </div>
                <div id="dept-type-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="dept-heading1">
                    <div class="panel-img">
                        <img src="~/styles/images/panel-img-1.jpg" alt="panel-img" />
                    </div>
                    <div class="panel-body">
                        <p>Configuración para seguimiento desde el nacimiento hasta la adolescencia de tu paciente.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="dept-heading2">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#dept-type-2" aria-expanded="false">
                            Cardiología<i class="fa fa-plus pull-right"></i>
                        </a>
                    </h4>
                </div>
                <div id="dept-type-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dept-heading2">
                    <div class="panel-img">
                        <img src="~/styles/images/panel-img-1.jpg" alt="panel-img" />
                    </div>
                    <div class="panel-body">
                        <p>Configuración para seguimiento de los signos, digitaliza tu ECG, monitorea la TA, FC.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="dept-heading3">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#dept-type-3" aria-expanded="false">
                            Ginecológico<i class="fa fa-plus pull-right"></i>
                        </a>
                    </h4>
                </div>
                <div id="dept-type-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dept-heading3">
                    <div class="panel-img">
                        <img src="~/styles/images/panel-img-1.jpg" alt="panel-img" />
                    </div>
                    <div class="panel-body">
                        <p>Configuración para el seguimiento de pacientes, monitoreo de embarazos y digitalización de imagenología.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="dept-heading4">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#dept-type-4" aria-expanded="false">
                            Medicina General<i class="fa fa-plus pull-right"></i>
                        </a>
                    </h4>
                </div>
                <div id="dept-type-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dept-heading4">
                    <div class="panel-img">
                        <img src="~/styles/images/panel-img-1.jpg" alt="panel-img" />
                    </div>
                    <div class="panel-body">
                        <p>Configuración incluida en todas las especialidades. Permite la historia clínica, seguimiento de pacientes y el envío del paciente por inter consulta.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="dept-heading5">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#dept-type-5" aria-expanded="false">
                            Nutricional<i class="fa fa-plus pull-right"></i>
                        </a>
                    </h4>
                </div>
                <div id="dept-type-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dept-heading5">
                    <div class="panel-img">
                        <img src="~/styles/images/panel-img-1.jpg" alt="panel-img" />
                    </div>
                    <div class="panel-body">
                        <p>Configuración para seguimiento y monitoreo en talla, peso, dieta y objetivos establecidos.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="dept-heading6">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#dept-type-6" aria-expanded="false">
                           Dental<i class="fa fa-plus pull-right"></i>
                        </a>
                    </h4>
                </div>
                <div id="dept-type-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dept-heading6">
                    <div class="panel-img">
                        <img src="~/styles/images/panel-img-1.jpg" alt="panel-img" />
                    </div>
                    <div class="panel-body">
                        <p>Configuración para seguimiento de tratamiento dental y de las visitas semestrales.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Departments Section /- -->
<!-- Counter Section -->
<div id="counter-section" class="container-fluid no-padding counter-section">
    <!-- Container -->
    <div class="container">
        <div class="col-md-6 col-sm-6 no-padding">
            <!-- Happy Customer -->
            <div class="happy-customer">
                <h3 class="block-title">Médico Feliz, paciente feliz.</h3>
                <p>Formulado por más de <span>1000</span> médicos para generar una plataforma sólida.</p>
                <a asp-action="Register" asp-controller="Account"><i class="fa fa-thumbs-o-up"></i>Regístrate</a>
            </div><!-- Happy Customer /- -->
        </div>
        <div class="col-md-6 col-sm-6 no-padding">
            <!-- Counter App -->
            <div class="counter-app">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="statistics-box">
                        <i class="statistics-icon"><img alt="statistics-icon" src="~/styles/images/icon-1.png"></i>
                        <div class="statistics-content">
                            <span data-statistics_percent="617" id="statistics_count-1">5</span>
                            <p>Hospital y clínicas en hub</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="statistics-box">
                        <i class="statistics-icon"><img alt="statistics-icon" src="~/styles/images/icon-2.png"></i>
                        <div class="statistics-content">
                            <span data-statistics_percent="458" id="statistics_count-2">100</span>
                            <p>Médicos en la red</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="statistics-box">
                        <i class="statistics-icon"><img alt="statistics-icon" src="~/styles/images/icon-3.png"></i>
                        <div class="statistics-content">
                            <span data-statistics_percent="4200" id="statistics_count-3">1000</span>
                            <p>Pacientes en línea</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="statistics-box">
                        <i class="statistics-icon"><img alt="statistics-icon" src="~/styles/images/icon-4.png"></i>
                        <div class="statistics-content">
                            <span data-statistics_percent="124" id="statistics_count-4">50</span>
                            <p>Doctores premiados o reconocidos</p>
                        </div>
                    </div>
                </div>
            </div><!-- Counter App /- -->
        </div>
    </div><!-- Container /- -->
</div><!-- Counter Section /- -->
<!-- Latest News -->
<div class="container-fluid no-padding latest-news">
    <!-- Container -->
    <div class="container">
        <!-- Section Header -->
        <div class="section-header">
            <h3>Noticias, tips y blog</h3>
            <a asp-action="Index" asp-controller="Blog">Leer más<i class="fa fa-plus"></i></a>
        </div><!-- Section Header /- -->
    </div><!-- Container /- -->
</div><!-- Latest News /- -->